.container{
    background-color: var(--lblue);
    display: flex;
    padding-top:10px;
    padding-left:20px;
    padding-right:30px;
    justify-content: space-between;
    font-family: 'Solitreo', cursive;
    align-items: center;
    height:4vh;
}

.name{
    font-size: 30px;
}

.name:link, .name:visited, .name:hover, .name:active{
    text-decoration: none;
    color: black
}


.items{
    margin-left: 40px;
    font-size:18px;
    color: black;
}

.items:link, .items:visited, .items:hover, .items:active{
    text-decoration: none;
}

.itemContainer{
    display: flex;
}