.container{
    height:243px;
    width:200px;
    margin: 3em 10vh;
    background-color: white;
    flex: 0 0 350px;
    border-radius: 15px;
    box-shadow: 0 0 1em rgb(184, 184, 184);
    background-size: contain;


}

.textContainer{
    margin: 15px 20px;
    display: flex;
    flex-direction: column;
}

.title{
    font-size:30px;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 20px;
}


.content{
    margin-left: 15px;
    margin-bottom:10px;
    width:275px;
    text-align: center;
    overflow-wrap: break-word;
}